name: Java CI with Gradle

on:
  push:
    branches: [ "master" ]
  pull_request:
    branches: [ "master" ]

jobs:
  build:
    # Матричная стратегия: запускаем параллельно на Linux и Windows (как в задании)
    strategy:
      matrix:
        os: [ubuntu-latest, windows-latest]

    runs-on: ${{ matrix.os }}

    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: Set up JDK 21
        uses: actions/setup-java@v4
        with:
          java-version: '21'
          distribution: 'temurin'

      # Эта штука сама настроит Gradle и кэширование (ускоряет сборку)
      - name: Setup Gradle
        uses: gradle/actions/setup-gradle@v3

      # Даем права на запуск скрипта (нужно для Linux)
      - name: Grant execute permission for gradlew
        if: runner.os != 'Windows'
        run: chmod +x gradlew

      # Сборка и запуск тестов
      - name: Build with Gradle
        run: ./gradlew build

      # Сохраняем собранный JAR как артефакт (чтобы препод мог скачать)
      - name: Upload Artifact
        uses: actions/upload-artifact@v4
        with:
          name: app-jar-${{ matrix.os }}
          path: build/libs/*.jar
          retention-days: 1